body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 700px;
    line-height: 1.5em;
}

h1 {
    font-size: calc(100% + 2.5vw);
    color: blue;
    text-align: center;
    line-height: 150%;
}

h2 {
    border-bottom: 2px solid blue;
    color: blue;
    margin-bottom: 5%;
    margin-top: 5%;
}

h3,h4,h5,h6,p,ul,pre {
    margin-left: 5%;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: blue;
}

pre {
    background: #f0f0f0;
    border-left: solid 3px #636363;
    overflow-x: auto;
    padding: 5% 5%;
    width: 99%;
}

.dpmr-logo {
    width: 100%;
    height: 20%;
    padding: 20%;
    margin: 5%;
    position: relative;
}
.dpmr-logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    color: blue;
    box-shadow:
        3em 1em,
        4em 1em,
        5em 1em,

        3em 2em,
        5em 2em,

        3em 3em,
        5em 3em,

        1em 4em,
        2em 4em,
        3em 4em,
        5em 4em,
        6em 4em,
        7em 4em,
        8em 4em,
        9em 4em,
        10em 4em,
        11em 4em,
        12em 4em,
        13em 4em,
        14em 4em,
        15em 4em,
        16em 4em,
        17em 4em,
        18em 4em,
        19em 4em,
        20em 4em,
        21em 4em,

        1em 5em,
        5em 5em,
        10em 5em,
        17em 5em,
        21em 5em,

        1em 6em,
        5em 6em,
        10em 6em,
        17em 6em,
        20em 6em,
        21em 6em,

        1em 7em,
        5em 7em,
        10em 7em,
        13em 7em,
        15em 7em,
        17em 7em,
        20em 7em,

        1em 8em,
        5em 8em,
        10em 8em,
        13em 8em,
        15em 8em,
        17em 8em,
        20em 8em,

        1em 9em,
        2em 9em,
        3em 9em,
        4em 9em,
        5em 9em,
        7em 9em,
        8em 9em,
        9em 9em,
        10em 9em,
        11em 9em,
        12em 9em,
        13em 9em,
        14em 9em,
        15em 9em,
        16em 9em,
        17em 9em,
        18em 9em,
        19em 9em,
        20em 9em,

        5em 10em,
        7em 10em,

        5em 11em,
        7em 11em,

        5em 12em,
        6em 12em,
        7em 12em,

        20em 12em,

        21em 13em,
        22em 13em,
        23em 13em,
        24em 13em,
        26em 13em,
        25em 14em;
}
